# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>population</th>
      <th>info.governor</th>
      <th>state</th>
      <th>shortname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Dade</td>
      <td>12345</td>
      <td>Rick Scott</td>
      <td>Florida</td>
      <td>FL</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Broward</td>
      <td>40000</td>
      <td>Rick Scott</td>
      <td>Florida</td>
      <td>FL</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Palm Beach</td>
      <td>60000</td>
      <td>Rick Scott</td>
      <td>Florida</td>
      <td>FL</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Summit</td>
      <td>1234</td>
      <td>John Kasich</td>
      <td>Ohio</td>
      <td>OH</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cuyahoga</td>
      <td>1337</td>
      <td>John Kasich</td>
      <td>Ohio</td>
      <td>OH</td>
    </tr>
  </tbody>
</table>
</div>

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('Data_Wrangling/data_wrangling_json/data/world_bank_projects_less.j'
                'son')))

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('Data_Wrangling/data_wrangling_json/data/world_bank_projects_less.json')
print sample_json_df
#sample_json_df.groupby([countryname])

                                      _id  approvalfy board_approval_month  \
0  {u'$oid': u'52b213b38594d8a2be17c780'}        1999             November
1  {u'$oid': u'52b213b38594d8a2be17c781'}        2015             November

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN

  countrycode                              countryname countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia         Ethiopia
1          TN                      Republic of Tunisia          Tunisia

                         ...                           sectorcode source  \
0                        ...                          ET,BS,ES,EP   IBRD
1                        ...                                BZ,BS   IBRD

   status  supplementprojectflg  \
0  Active                     N
1  Active                     N

                                              theme1  \
0   {u'Percent': 100, u'Name': u'Education for all'}
1  {u'Percent': 30, u'Name': u'Other economic man...

                                      theme_namecode themecode   totalamt  \
0  [{u'code': u'65', u'name': u'Education for all'}]        65  130000000
1  [{u'code': u'24', u'name': u'Other economic ma...     54,24          0

  totalcommamt                                                url
0    130000000  http://www.worldbank.org/projects/P129828/ethi...
1      4700000  http://www.worldbank.org/projects/P144674?lang=en

[2 rows x 50 columns]

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
#1 Find the 10 countries with the most projects
import json
import pandas as pd
from pandas.io.json import json_normalize
world_bank_projects_df = pd.read_json('Data_Wrangling/data_wrangling_json/data/world_bank_projects.json')
world_bank_projects_df_country = world_bank_projects_df.countryname
world_bank_projects_df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [9]:
world_bank_projects_df.mjtheme_namecode.value_counts().head(10)

[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                                                                                            12
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u''}]                                                                                                                                                                    11
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]                                                                                                                                                     8
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                                                                                                       6
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]                                                                                6
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]                                                                                                                                           5
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]     5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u''}]                                                                                                                                         5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'4', u'name': u''}]                                                                                                                                          5
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'5', u'name': u'Trade and integration'}]                                                                                                                          5
Name: mjtheme_namecode, dtype: int64

In [10]:
from collections import defaultdict
from pprint import pprint
table = world_bank_projects_df.mjtheme_namecode
code_names = {}
code_counts = defaultdict(int)

for dictlist in table:
    for d in dictlist:
        code, name = d['code'], d['name']
        if code not in code_names or (name != '' and code_names[code] == ''):
            code_names[code] = name
        elif name != '' and code_names[code] != '' and name != code_names[code]:
            raise Exception('duplicate non-empty value for code: {}'.format(code))
        code_counts[code] += 1

for code in code_names.keys():
    print(code, code_names[code], code_counts[code])

(u'11', u'Environment and natural resources management', 250)
(u'10', u'Rural development', 216)
(u'1', u'Economic management', 38)
(u'3', u'Rule of law', 15)
(u'2', u'Public sector governance', 199)
(u'5', u'Trade and integration', 77)
(u'4', u'Financial and private sector development', 146)
(u'7', u'Social dev/gender/inclusion', 130)
(u'6', u'Social protection and risk management', 168)
(u'9', u'Urban development', 50)
(u'8', u'Human development', 210)

In [11]:
data = world_bank_projects_df.mjtheme_namecode.value_counts().head(10)

In [16]:
# less elegant way of doing it
from collections import defaultdict
from pprint import pprint

table = world_bank_projects_df.mjtheme_namecode
code_names = {}
code_counts = defaultdict(int)

for dictlist in table:
    for d in dictlist:
        code, name = d['code'], d['name']
        if code not in code_names:
            code_names[code] = name
        elif name != '' and code_names[code] == '':
            code_names[code] = name
        elif name == '' and code_names[code] == '':
            pass
        elif name == '' and code_names[code] != '':
            pass
        elif name != '' and code_names[code] != '': 
            if name != code_names[code]:
                raise Exception('duplicate non-empty value for code: {}'.format(code))
            else:
                pass
        code_counts[code] += 1

for code in code_names.keys():
    print(code, code_names[code], code_counts[code])

for dictlist in table:
    for d in dictlist:
        code, name = d['code'], d['name']
        if d['name'] == '':
            d['name'] = code_names[name]

(u'11', u'Environment and natural resources management', 250)
(u'10', u'Rural development', 216)
(u'1', u'Economic management', 38)
(u'3', u'Rule of law', 15)
(u'2', u'Public sector governance', 199)
(u'5', u'Trade and integration', 77)
(u'4', u'Financial and private sector development', 146)
(u'7', u'Social dev/gender/inclusion', 130)
(u'6', u'Social protection and risk management', 168)
(u'9', u'Urban development', 50)
(u'8', u'Human development', 210)

KeyError: u''

In [14]:
from collections import defaultdict
from pprint import pprint

table = world_bank_projects_df.mjtheme_namecode

code_names = {}
code_counts = defaultdict(int)

for dictlist in table:
    for d in dictlist:
        code, name = d['code'], d['name']
        if code not in code_names:
            # new code we haven't seen yet
            code_names[code] = name
        elif name != '' and code_names[code] == '':
            # replace blank name with a non-blank name
            code_names[code] = name
        elif name == '' and code_names[code] == '':
            # both are blank so do nothing
            pass
        elif name == '' and code_names[code] != '':
            # previous is non-blank and current is blank so do nothing
            pass
        elif name != '' and code_names[code] != '': 
            # both are non-blank so investigate names further
            if name != code_names[code]:
                # non-empty names don't match so throw exception
                raise Exception('duplicate non-empty value for code: {}'.format(code))
            else:
                # non-empty names match so do nothing
                pass
        code_counts[code] += 1

for code in code_names.keys():
    print(code, code_names[code], code_counts[code])
    
for dictlist in table:
    for d in dictlist:
        code, name = d['code'], d['name']
        if name == '':
                d['name'] = code_names[code]

(u'11', u'Environment and natural resources management', 250)
(u'10', u'Rural development', 216)
(u'1', u'Economic management', 38)
(u'3', u'Rule of law', 15)
(u'2', u'Public sector governance', 199)
(u'5', u'Trade and integration', 77)
(u'4', u'Financial and private sector development', 146)
(u'7', u'Social dev/gender/inclusion', 130)
(u'6', u'Social protection and risk management', 168)
(u'9', u'Urban development', 50)
(u'8', u'Human development', 210)

In [17]:
world_bank_projects_df.mjtheme_namecode.value_counts().head(10)

[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                                                                                            12
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u''}]                                                                                                                                                                    11
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]                                                                                                                                                     8
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                                                                                                       6
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]                                                                                6
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]                                                                                                                                           5
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]     5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u''}]                                                                                                                                         5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'4', u'name': u''}]                                                                                                                                          5
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'5', u'name': u'Trade and integration'}]                                                                                                                          5
Name: mjtheme_namecode, dtype: int64

In [18]:
from pandas.io.json import json_normalize

data = world_bank_projects_df#.mjtheme_namecode#.value_counts().head(10)

for entry in data:
    json_normalize(data['mjtheme_namecode', ['name', 'code']])#, 'countryname', ['mjtheme_namecode', ['code', 'name']])

TypeError: unhashable type: 'list'